<h1>Residential Properties</h1>

<%= search_form_for @search do |f| %>
  <%= f.condition_fields do |c| %>
  <div class="field">
    <%= c.attribute_fields do |a| %>
      <%= a.attribute_select %>
    <% end %>
    <%= c.predicate_select %>
    <%= c.value_fields do |v| %>
      <%= v.text_field :value %>
    <% end %>
    </div>
  <% end %>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table>
	<caption>Residential Search Results</caption>
	<thead>
		<tr>
			<th>Listing Price</th>
			<th>Address</th>
			<th>Bedrooms</th>
			<th>Bathrooms</th>
			<th>Subdivision</th>
			<th>MLS #</th>
			<th>Last Modified</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td>Listing Price</td>
			<td>Address</td>
			<td>Bedrooms</td>
			<td>Bathrooms</td>
			<td>Subdivision</td>
			<td>MLS #</td>
			<td>Last Modified</td>
		</tr>
	</tfoot>
	<tbody>
		<% @residential_properties.each do |property| %>
		<tr>
			<td><%= number_to_currency(property.listing_price, precision: 0) %></td>
			<td><%= link_to "#{property.street_number} #{property.street_name}, #{property.city}", property.public_listing_url %></td>
			<td><%= property.bedrooms %></td>
			<td><%= property.bathrooms %></td>
			<td><%= property.subdivision %></td>
			<td><%= property.ml_number %></td>
			<td><%= property.last_modified_date_time.to_formatted_s(:long_ordinal) %></td>
		</tr>
		<% end %>
	</tbody>
</table>

  